.region-wrapper{
    width:82%;
    margin:30px auto 0;

    h3{
        font-size: 24px;
        font-family: 'Inter-bold';
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.2px;
        margin-bottom:24px;
        color:#1C1C1C;
    }
  
    
    .regions{
        display:flex;
         justify-content: space-between;
    }
  .region{
    display:flex;
    align-items: center;
    margin-bottom:10px;
    

    .country-name{
        font-size: 16px;
        font-family: 'Inter-bold';
       line-height: 24px;
       letter-spacing: -0.2px;
       color:#1C1C1C;
    }
    p{
        font-size: 13px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color:#8B96A5;
    }

    img{
        margin-right:11px;
        max-width:28px;
        width:100%;
        height:auto;
    }
  }
}

@media (max-width:1024px){
    .region-wrapper{
        width:100%;
        padding:0 12px 10px;
        h3{
            font-size:20px;
        }

        .regions{
           margin-left:6px;
        //    align-items: center;
           justify-content: space-evenly;
            .region{
               margin:6px 0;

                .country-name{
                    font-size: 13px;
                    line-height: normal;
                  
                }
            }

        }
    }
}

@media(max-width:768px){
    .region-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
         .regions{
          flex-wrap: wrap;
        //   align-items: center;
         
          .region{
          
            .country-name{
                font-size: 10px;
                 line-height: normal;   
             }
          }    
        }
    }
}

@media(max-width:409px){
   .regions{
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: flex-start;
   }
}